.app {
  text-align: center;
}

.word__container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.word__list--first {
  grid-column: 7/8;
  justify-self: start;
  font-size: 1.5rem;
}

.word__list--second {
  grid-column: 9/10;
  justify-self: start;
  font-size: 1.5rem;
}
