.app {
  text-align: center;
}

.word__container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  align-items: center;
}

.word__list--first {
  grid-column: 7/8;
  justify-self: end;
  font-size: 1.5rem;
}

.word__list--middle {
  grid-column: 8/9;
  font-size: 1rem;
}

.word__list--second {
  grid-column: 9/10;
  justify-self: start;
  font-size: 1.5rem;
}

.refetch-button__container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
